config/config*.php
.arcanum.sublime-project
.arcanum.sublime-workspace
arcanum.tar.gz
build
cli/deploy.sh
cli/deploy_test.sh
codecept.phar
codeception.yml
lib
locale/*/LC_MESSAGES/arcanum.mo
locale/*/LC_MESSAGES/*.bak
plugins/uoa
smstest.php
style/custom.css
templates/emails/local/
templates/emails/mail_reset_password.*.tpl.php
tests/